#app-main {
    background: white;
    background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 0);
    background-size: 25px 25px;
    background-position: -19px -19px;
    display: flex;
    align-content: center;
    height: 100vh;
}

#app-main-child {
    margin: 0 auto;
    text-align: center;
}

.dropdown-card {
    margin-top: 40px;
    padding:10px;
    background-color: white;
    border: 0.5px solid #000000;
    border-radius: 4px;
    text-align: left;
}

.dropdown-card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: 20px 10px 10px 10px;
    font-weight: bold;
}

.dropdown-card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
}

.dropdown-card-title{
    font-weight: bold;
}

.dropdown-card-list-item {
    display: flex;
    vertical-align: middle;
}